/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* =============================================================================
   FONTS
   ========================================================================== */

/* EuphoriaScript */

@font-face {
    font-family: EuphoriaScript;
    src: url(../fonts/EuphoriaScript-Regular.otf);
    font-weight: 800;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}


/* icons */

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
    content: "\e900";
}
.icon-download2:before {
    content: "\e907";
}
.icon-heart:before {
    content: "\e902";
}
.icon-mail4:before {
    content: "\e913";
}
.icon-github:before {
    content: "\e915";
}
.icon-linkedin:before {
    content: "\e916";
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

:root{
    --dark:#1f2426;
    --gray:#4b5859;
    --blueGray:#293e41;
    --lightestBlue:#b4dad7;
    --lightBlue:#519ca4;
    --blue:#2196a7;
    --darkBlue:#307982;
    --darkestBlue:#215961;
}

/* =============================================================================
   SECTION FORMATTING
   ========================================================================== */

section{
    height: 100vh;
    padding-top:90px;
    padding-bottom:50px;
    text-align:center;
}


.section-title {
    font-family: 'Roboto';

    font-weight: 200;
    border-bottom: 5px solid #263238;
    display: inline-block;
    font-size:44px;
    margin-bottom: 50px;
    padding-bottom:10px;
    text-transform:uppercase;
    letter-spacing: 4px;
}

/* =============================================================================
   INTRO SECTION
   ========================================================================== */

body {
    margin: 0;
    background-color: #ffff;
}

canvas {
    display: block;
    vertical-align: bottom;
}

a {
    color: #4d638c;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;
}

#nav {
    height: 50px;
    padding: 15px 15px;
    float: right;
    margin-right: -15px;
}

#intro-container {
    position:absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:100%;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(0.9);
}


#name {
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: Helvetica;
}

#tagline {
    font-size: 60px;
    font-style: normal;
    font-weight: 100;
    font-family: Helvetica;
    text-align: center;
    margin: auto;
}

#desc {
    font-size: 36px;
    text-align: center;
    font-weight: 100;
    font-family: Helvetica;
    letter-spacing: 1px;
    font-color: #333333;
    margin-top: 10px;
}

#intro-buttons {
    display: flex;
    margin-left: 44%;
    margin-right: 44%;
    margin-top: 50px;
    justify-content: space-around;
}

@media (max-width: 699px) {
    #intro-container {
        width: 260px;
    }

    #name{
        font-size: 25px;
    }

    #desc{
        font-size:31px;
    }

    #tagline {
        font-size: 35px;
    }

}
/* =============================================================================
   ABOUT SECTION
   ========================================================================== */


#scroll-wrapper {

    display: block;
    text-align: center;
    margin: 0 auto;
    width: 500px;
}

.roles {
    font-size: 30px;
    height: 50px;
    font-weight: 100;
    letter-spacing: 1px;
    vertical-align: middle;
    overflow: hidden;
    font-family: Helvetica;
}

.roles div {
    height: 50px;
    transition: margin-top 1s ease-in-out;
}

#box-container {

    padding: 10px;
    position:absolute;
    width:100%;
    height:100%;
}
#about-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 70%;
    height: 70%;
    box-sizing: content-box;
    -webkit-box-shadow: 0 0 5px 2px #4b5859;
    -moz-box-shadow: 0 0 5px 2px #4b5859;
    box-shadow: 0 0 5px 2px #4b5859 ;
    margin: auto;
    justify-items: center;
    align-items: center;

}

#about-me {
    background: white;
    width: 30%;
}

#image-wrapper {
    position: relative;
    width: 70%;
    max-width: 70%;
    margin-left: 40%;
}

.personal-image {
    padding-top: 0px;
    width: 70%;

}

@media (max-width: 699px) {
    #scroll-wrapper {

        display: block;
        text-align: center;
        margin: 0 auto;
        width: 50px;
    }

    .roles {
        font-size: 14px;
        height: 50px;
        font-weight: 100;
        letter-spacing: 1px;
        vertical-align: middle;
        overflow: hidden;
        font-family: Helvetica;
    }

    .roles div {
        height: 50px;
        transition: margin-top 1s ease-in-out;
    }

    #box-container {

        padding: 10px;
        position:absolute;
        width:100%;
        height:100%;
    }
    #about-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        width: 70%;
        height: 70%;
        box-sizing: content-box;
        -webkit-box-shadow: 0 0 5px 2px #4b5859;
        -moz-box-shadow: 0 0 5px 2px #4b5859;
        box-shadow: 0 0 5px 2px #4b5859 ;
        margin: auto;
        justify-items: center;
        align-items: center;

    }

    #about-me {
        background: white;
        width: 30%;
    }

    #image-wrapper {
        position: relative;
        width: 70%;
        max-width: 70%;
        margin-left: 40%;
    }

    .personal-image {
        padding-top: 0px;
        width: 70%;

    }

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
